<form>
    <div class="form-group col-md-4 offset-md-4">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <br>
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <br>
        <button class="btn btn-primary btn-block">Login</button>
        <button class="btn btn-primary btn-block">Cancel</button>
    </div>
</form>