<div class="card-header">
    <a routerLink="/places">Places</a>/Create
</div>

<div class="container">
    <label>Name</label>
    <input type="text" class="form-control" [(ngModel)]="place.name" />
    <br>
    <label>Distance</label>
    <input type="number" class="form-control" [(ngModel)]="place.distance" />
    <br>
    <label>Near</label>
    <input type="number" class="form-control" [(ngModel)]="place.near" />
    <br>
    <label>Description</label>
    <textarea class="form-control" [(ngModel)]="place.description"></textarea>
    <br>
    <label>Plan</label>
    <input type="text" class="form-control" [(ngModel)]="place.plan" />
    <br>
    <h3>Address</h3>
    <br>
    <label>Street address</label>
    <input type="text" class="form-control" [(ngModel)]="place.street" />
    <br>
    <label>City</label>
    <input type="text" class="form-control" [(ngModel)]="place.city" />
    <br>
    <label>Country</label>
    <input type="text" class="form-control" [(ngModel)]="place.country" />
    <hr>
    <a class="btn btn-primary" role="button" (click)="savePlace()">Submit</a>
    <a class="btn btn-light" routerLink="/places" role="button">Cancel</a>

</div>